<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <th:block th:each="action : ${actions}">
                    <li>
                        <!--? By doing this: '/' + ${action.key} instead of /${action.key} it allowed the browser to -->
                        <!--? reset back to /search or /list rather than building on what was already in the url bar EX: /search/search -->
                        <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
