<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <!--? Creating a table for each job, so I want to put the <table> inside the loop. -->
  <!--? Is there a way to loop over the different columns instead of hard-coding it all in -->
<div th:fragment="jobTable">
  <th:block th:each="job : ${jobs}">
    <table class="job-listing">
      <tr>
        <th style="text-align: left">ID</th>
        <td th:style="'font-style: italic;'" th:text="${job.id}"></td>
      </tr>
      <tr>
        <th style="text-align: left">Name</th>
        <td th:style="'font-style: italic;'"  th:text="${job.name}"></td>
      </tr>
      <tr>
        <th style="text-align: left">Employer</th>
        <td>
          <a th:href="@{/list/jobs(column='employer',value=${job.employer})}" th:style="'font-style: italic;'"  th:text="${job.employer}"></a>
        </td>
      </tr>
      <tr>
        <th style="text-align: left">Location</th>
        <td>
          <a th:href="@{/list/jobs(column='location',value=${job.location})}" th:style="'font-style: italic;'"  th:text="${job.location}"></a>
        </td>
      </tr>
      <tr>
        <th style="text-align: left">Position Type</th>
        <td>
          <a th:href="@{/list/jobs(column='positionType',value=${job.positionType})}" th:style="'font-style: italic;'"  th:text="${job.positionType}"></a>
        </td>
      </tr>
      <tr>
        <th style="text-align: left">Skill</th>
        <td>
          <a th:href="@{/list/jobs(column='coreCompetency',value=${job.coreCompetency})}" th:style="'font-style: italic;'"  th:text="${job.coreCompetency}"></a>
        </td>
      </tr>
    </table>
  </th:block>
</div>
</div>

</body>
</html>



<!--? THIS PAGE COMES AFTER YOU SELECT THAT JOBS THAT YOU WANT TO REVIEW::-->
<!--?        EXAMPLE: CLICK ON LOCATION (KANSAS CITY)-->
<!--?          "Jobs With Location: Kansas City"-->